.container {
display: flex;
flex-direction: column;  
align-items: center; 
}

.result {
    border: 1px solid red;
   margin-bottom: 10px;
   text-align: right
}

button {
    margin: 2px;
    width: 32px;
    aspect-ratio: 1 / 1;
}

.calcInline {
    display: flex;
    justify-content: flex-end;
    height: 20px;
}

.operation {
    display: flex
}